.btn-outline-primary {
  border-color: #695808;
  margin: 0px;
  border: 0px solid rgb(105, 75, 10);
  margin-bottom: 20px;
  box-shadow: inset 5px 5px 5px 5px black;

  height: 100%;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #834912;
  border-color: #07368d;
}

.card-body {
  border-radius: 30px;
  background-color: rgb(112, 87, 3);
  margin: 0px;
  padding: 0px;
  border: 0px solid rgb(99, 76, 28);
}
.card {
}

@media only screen and (min-width: 800px) {
}
