@import "variable_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.ourson {
  background-color: aqua;
}

.affichourson {
  background: rgb(95, 236, 82);
  display: flex;
}
#ourson {
  background: rgb(95, 236, 82);
  display: flex;
}
p {
  color: red;
}
section {
}
